:8080 {
	encode gzip

	log {
		output stdout
		format json
	}

	handle_path /api/* {
		reverse_proxy back:8080
	}

	handle {
		root * /usr/share/caddy
		try_files {path} /index.html
		file_server
	}
}
